# Environment variables
.env

# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
db.sqlite3
media/

# Static files (optional: ignore if collected on server)
staticfiles/

# Migrations cache
**/__pycache__/

# IDEs/editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test & coverage
.coverage
htmlcov/
.pytest_cache/


# Keep original source private
doogsan_app_original/

# PyArmor artifacts (optional)
__pycache__/
*.pyc